// Colors
$bg:#4D4D4D;
$clr1: #F79319;
$clr2: #FFFFFF;
$clr3: #13579B;
$clr4: #329238;



$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;